# This should have all the libraries that you use
# HINT: You can generate this file with the command `pip freeze > requirements.txt` (without the backticks)
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio.post1
async-timeout
asyncio
attrs
blessed
blinker
blobfile
cachetools
certifi.30
charset-normalizer
click
datasets
dill
diskcache
dnspython
editor
einops
email_validator
exceptiongroup
faiss-gpu
filelock
fire
Flask
frozenlist
fsspec.0
gguf
google-ai-generativelanguage0
google-api-core
google-api-python-client.0
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
huggingface-hub
idna
iniconfig
inquirer
itsdangerous
Jinja2
joblib
jsonpatch
jsonpointer
kwnlp-sql-parser
langchain
langchain-core5
langchain-google-genai
langchain-text-splitters
langsmith42
libtorrent
llama_cpp_python
llama_models0
llama_stack2
lxml
markdown-it-py
MarkupSafe
mdurl
mpmath
multidict
multiprocess6
networkx
numpy
nvidia-cublas-cu12.8
nvidia-cuda-cupti-cu1227
nvidia-cuda-nvrtc-cu1227
nvidia-cuda-runtime-cu1227
nvidia-cudnn-cu12.70
nvidia-cufft-cu12.3
nvidia-curand-cu12.147
nvidia-cusolver-cu12.9
nvidia-cusparse-cu12.170
nvidia-nccl-cu12
nvidia-nvjitlink-cu1227
nvidia-nvtx-cu1227
orjson1
packaging
pandas
pillow
pluggy
polars
prompt_toolkit8
propcache
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pycryptodomex
pydantic
pydantic_core
Pygments
pyparsing
pytest
pytest-asyncio
python-dateutil.post0
python-dotenv
pytz
PyYAML
readchar
regex1.6
requests
requests-toolbelt
rich
rsa
runs
safetensors
scikit-learn
scipy
sentencepiece
six
sniffio
SQLAlchemy6
sympy
tenacity
termcolor
threadpoolctl
tiktoken
tokenizers
tomli
torch
tqdm
transformers
triton
typing_extensions
tzdata
uritemplate
urllib3
wcwidth3
Werkzeug
Wikipedia-API
xmod
xxhash
yarl
