# This should have all the libraries that you use
# HINT: You can generate this file with the command `pip freeze > requirements.txt` (without the backticks)
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
async-timeout
asyncio
attrs
blessed
blinker
blobfile
cachetools
certifi
charset-normalizer
click
datasets
dill
diskcache
dnspython
editor
einops
email_validator
exceptiongroup
faiss-gpu
filelock
fire
Flask
frozenlist
fsspec
gguf
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
huggingface-hub
idna
iniconfig
inquirer
itsdangerous
Jinja2
joblib
jsonpatch
jsonpointer
kwnlp-sql-parser
langchain
langchain-core
langchain-google-genai
langchain-text-splitters
langsmith42
libtorrent
llama_cpp_python
llama_models
llama_stack2
lxml
markdown-it-py
MarkupSafe
mdurl
mpmath
multidict
multiprocess6
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
orjson1
packaging
pandas
pillow
pluggy
polars
prompt_toolkit8
propcache
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pycryptodomex
pydantic
pydantic_core
Pygments
pyparsing
pytest
pytest-asyncio
python-dateutil.post
python-dotenv
pytz
PyYAML
readchar
regex1.6
requests
requests-toolbelt
rich
rsa
runs
safetensors
scikit-learn
scipy
sentencepiece
six
sniffio
SQLAlchemy6
sympy
tenacity
termcolor
threadpoolctl
tiktoken
tokenizers
tomli
torch
tqdm
transformers
triton
typing_extensions
tzdata
uritemplate
urllib3
wcwidth3
Werkzeug
Wikipedia-API
xmod
xxhash
yarl
